#root {
  margin: 0;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
}

.app {
  background: rgb(103, 252, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}


